@import "tailwindcss";
@plugin "daisyui";

:root {
  font-size: 16px;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #2d2d2d; /* grey */
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #6b7280; /* Tailwind gray-500 */
  border-radius: 4px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* gray-600 */
}

/* On active */
::-webkit-scrollbar-thumb:active {
  background: #6b7280; /* gray-500 */
}
.sidebarList li {
  padding: 7.5px 12.5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ffffff1a;
  }
}
.sidebarList li span:nth-child(2) {
  display: none;
}
.sidebarList li:hover span:nth-child(2) {
  display: inline-block;
}
p.userInput:empty::before {
  content: attr(placeholder);
  color: #afafaf;
  pointer-events: none;
}
p.userInput[contenteditable]:focus::before {
  content: "";
}
.tooShadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  li:hover {
    background-color: #ffffff1a;
  }
}
